name: Build Release Binary

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  DXC_PATH: Microsoft.Direct3D.DXC.1.8.2505.32/build/native/bin/x64/dxc.exe

jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        shell: powershell

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Install DXC
      run: nuget install Microsoft.Direct3D.DXC -Version 1.8.2505.32

    - name: Cache
      uses: Swatinem/rust-cache@v2

    - name: Build
      run: cargo build --release --verbose

    - run: Copy-Item ".\target\x86_64-pc-windows-msvc\release\erfps2.dll" -Destination ".\erfps2.dll"; Copy-Item "..\dist\erfps.me3" -Destination ".\erfps2.me3"

    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: erfps2
        path: |
          ./erfps2.dll
          ./erfps2.me3
